/* reset */
html, body
{
	font-size: 62.5%;
	font-family: 'microsoft yahei',Arial, Helvetica, sans-serif;	
	/* font-size: 16px; */
}
body,dd,dl,h1,h2,h3,h4,h5,ol,p,ul
{
	margin: 0;
}

/* style */
.container
{
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}

a,a:link,a:visited {
	color: #0066FF;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}


.site-footer
{
	color: #666666;
}
.site-footer a,.site-footer a:visited
{
	color: #666666;
}

.site-header
{
	padding-top: 5px;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
	font-size:1.4rem;
}

.h-card
{
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #ccc;
	color: #999999;
}

.row
{
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.col-md-4
{
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 1.4rem;
}
h1
{
	font-size: 3rem;
}
h2
{
	font-size: 2rem;
}
