/* reset */
html,body
{
	font-family: 'microsoft yahei',Arial, Helvetica, sans-serif;
	/* font-size: 62.5%; */
}
body,dd,dl,h1,h2,h3,h4,h5,ol,p,ul
{
	margin: 0;
}

/* style */
.container
{
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}

a,a:link,a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #0066FF;
}

a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	text-decoration: none;
}


.site-footer
{
}

.site-header
{
	padding-top: 5px;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
}

.h-card
{
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #ccc;
}

.row
{
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.col-md-4
{
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;

}
