<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%} 
  <body>

    {%- include header.html -%}

	<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>端子</h2>
          <p>称为联接器，Housing, Terminal等</p>
          <p><a class="btn btn-default" href="/housing/" role="button">查看详细&raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>线材</h2>
          <p>UL电子线材,多芯线，无卤线等 </p>
          <p><a class="btn btn-default" href="#" role="button">查看详细&raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>线束</h2>
          <p>加工好的成品线材</p>
          <p><a class="btn btn-default" href="#" role="button">查看详细&raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
	
    {%- include footer.html -%}

  </body>

</html>